<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2m.atl.adt.launching.atlTransformation">
    <stringAttribute key="ATL File Name" value="/TaskMasterATL/taskmaster.atl"/>
    <stringAttribute key="ATL VM" value="EMF-specific VM"/>
    <stringAttribute key="ATL_COMPILER" value="atl2006"/>
    <booleanAttribute key="IS_REFINING" value="false"/>
    <mapAttribute key="Input">
        <mapEntry key="IN" value="SimplePDL"/>
    </mapAttribute>
    <mapAttribute key="Libs"/>
    <mapAttribute key="Model Handler">
        <mapEntry key="SimplePDL" value="EMF"/>
        <mapEntry key="TM" value="EMF"/>
    </mapAttribute>
    <mapAttribute key="ModelType">
        <mapEntry key="IN" value="MODELINPUT"/>
        <mapEntry key="OUT" value="MODELOUTPUT"/>
        <mapEntry key="SimplePDL" value="METAMODELINPUT"/>
        <mapEntry key="TM" value="METAMODELOUTPUT"/>
    </mapAttribute>
    <mapAttribute key="Options">
        <mapEntry key="OPTION_CLEAR" value="false"/>
        <mapEntry key="OPTION_CONTENT_TYPE" value="false"/>
        <mapEntry key="OPTION_DERIVED" value="true"/>
        <mapEntry key="allowInterModelReferences" value="false"/>
        <mapEntry key="printExecutionTime" value="false"/>
        <mapEntry key="step" value="false"/>
        <mapEntry key="supportUML2Stereotypes" value="false"/>
    </mapAttribute>
    <listAttribute key="OrderedInput">
        <listEntry value="IN"/>
    </listAttribute>
    <listAttribute key="OrderedOutput">
        <listEntry value="OUT"/>
    </listAttribute>
    <mapAttribute key="Output">
        <mapEntry key="OUT" value="TM"/>
    </mapAttribute>
    <mapAttribute key="Path">
        <mapEntry key="IN" value="/SimplePDL/process1-ko.xmi"/>
        <mapEntry key="OUT" value="/TaskMasterATL/process1-koTM.xmi"/>
        <mapEntry key="SimplePDL" value="/SimplePDL/SimplePDL.ecore"/>
        <mapEntry key="TM" value="/TaskMaster/TaskMaster.ecore"/>
    </mapAttribute>
    <listAttribute key="Superimpose"/>
    <booleanAttribute key="org.eclipse.debug.core.ATTR_FORCE_SYSTEM_CONSOLE_ENCODING" value="false"/>
</launchConfiguration>
